{var $pageTitle = "Správa účtu: "+$user["Nickname"]}

{block content}
	<h1 style="position: relative;padding-left:45px;">
		<a n:href="Admin:users" class=pu style="left:14px;">&lt;</a>
		Správa účtu: {$user["Nickname"]}
	</h1>
	
{/block}